:root {
  --white-bg-navfont: #ffffff;

  /* text color */
  --main-font-color: #112A46;

  /* bg color */
  --navbar-bg-color: #004457;
  --sub-bg-color: #F2F2F2;

  /* border & shadow*/
  --card-border: #ffffff1a;
  --card-shadow: #00000099;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--white-bg-navfont);
  color: var(--main-font-color);
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 18px;
}

.scroll {
  scroll-margin-top: 100px;
}

/* repeated codes */
.about,
.skills,
.project,
.contact {
  padding: 2rem;
}

.about__heading,
.skills__heading,
.project__heading {
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.about__heading,
.skills__heading,
.project__heading,
.contact,
.footer {
  text-align: center;
}

/* navbar */
.navbar {
  background: var(--navbar-bg-color);
  position: sticky;
  padding: 10px;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar img {
  width: 70px;
  margin-left: 10px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu a {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--white-bg-navfont);
  padding: 10px;
  transition: transform 300ms;
}

.navbar__menu a:hover {
  border: 1px solid var(--card-border);
  transform: translateY(-10px);
  box-shadow: 0 3px 5px var(--card-shadow);
  padding: 10px;
}

/* hero section */
.hero {
  height: calc(100vh - 100px);
  display: grid;
  text-align: center;
  place-content: center;
  /* margin-bottom: 10px; */
  background: url(../images/hero-bg-water-colour.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero__title::before {
  content: "|";
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  font-size: 3rem;
  background: var(--main-font-color);
  animation: blinkCursor 1500ms steps(1) infinite;
}

@keyframes blinkCursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}

.hero__title {
  padding: 5px;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  animation: typing 8000ms steps(14) forwards;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

@keyframes typing {
  0% {
    width: 0;
  }
  25%, 50%, 75%, 100% {
    /* width: 375.47px; */
    width: 360px;
  }
}

.hero__subtitle {
  font-size: 2rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2000ms ease 2400ms forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* about section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}

.about__text {
  max-width: 700px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

/* skills section */
.skills {
  background: var(--sub-bg-color);
}

.skills__container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  gap: 1rem;
  justify-content: center;
  height: 100%;
}

.skills__text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 20px;
  padding-bottom: 2.5rem;
}

.skills__text li {
  border: 1px solid var(--card-border);
  box-shadow: 0 3px 5px var(--card-shadow);
  border-radius: 50px;
  background: #FFE49F;
  padding: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

/* project section */
.project__container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
  gap: 1rem;
  justify-content: center;
  height: 100%;
  padding-bottom: 2.5rem;
}

.project__card {
  border: 1px solid var(--card-border);
  box-shadow: 0 3px 5px var(--card-shadow);
  border-radius: 10px;
  margin: 10px;
}

.project__container img {
  width: 350px;
  height: auto;
  border-radius: 10px;
}

/* contact section */
.contact {
  background: var(--sub-bg-color);
  height: calc(100vh - 100px);
}

.contact__heading {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.5rem;
}

.fa-brands {
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-font-color);
  background: var(--white-bg-navfont);
}

.fa-brands,
.submit-btn {
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0 3px 5px var(--card-shadow);
  padding: 10px;
  transition: transform 300ms;
  margin-bottom: 3rem;
}

.fa-brands:hover,
.submit-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 3px 5px var(--card-shadow);
  padding: 10px;
}

form {
  display: grid;
  place-content: center;
  align-self: center;
  justify-content: center;
  padding: 1rem;
}

label {
  text-align: start;
  padding: 0.5rem 0;
  font-weight: 500;
}

input, textarea {
  padding: 0.5rem;
  border: 2px solid var(--main-font-color);
  /* resize: none; */
  resize: vertical;
}

.submit-btn {
  width: 10rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.25rem;
  background: var(--main-font-color);
  border-radius: 5px;
  color: var(--white-bg-navfont);
}

.footer {
  /* margin-top: 2rem; */
  padding: 2rem;
}

@media screen and (min-width: 786px) {
  .navbar__menu a {
    font-size: 1.5rem;
  }

  .hero__title::before,
  .hero__title {
    font-size: 4rem;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    25%, 50%, 75%, 100% {
      width: 550px;
    }
  }

  .hero__subtitle {
    font-size: 2.5rem;
  }

  .skills__container,
  .project__container {
    flex-direction: row;
  }

  .skills__text {
    width: 50%;
    margin: auto;
  }
}